{
    "creators": [
        {
            "name": "{{ author_name }}",
            "orcid": "{{ orcid }}",
            "affiliation": "{{ affiliation }}"
        }
    ],
    "title": "{{ zenodo_title }}",
    "version": "{{ version }}",
    "access_right": "open",
    "related_identifiers": [
        {
            "identifier": "https://doi.org/10.5555/666655554444",
            "relation": "isSupplementTo",
            "resource_type": "publication-article"
        }
    ],
    "keywords": [
        "computer science",
        "psychoceramics",
        "journaling filesystems"
    ],
    "license": "{{ license }}",
    "upload_type": "software",
    "language": "eng",
    "grants": [
        {"id": "10.13039/501100000780::101122956"}
    ]
}