name: {{project_slug}}
channels:
  - conda-forge
  - bioconda
dependencies:
  - python={{python_version}}
  - pip
  - pyflakes
  - numpy
  - scipy
  - matplotlib
  - ipython
  - ipykernel
  - ipympl
  - snakemake
  - dot
  - pip:
    - pyfar
    - pyrato

