name: {{project_slug}}
channels:
  - conda-forge
  - bioconda
dependencies:
  - python={{python_version}}
  - pip
  - pyflakes{% if workshop_tutorial == false %}
  - numpy
  - scipy
  - matplotlib{% endif %}
  - ipython
  - ipykernel
  - ipympl
  - snakemake
  - pydot
  - pip:
    - pyfar
{% if workshop_tutorial == false %}   - pyrato{% endif %}
