name: {{project_slug}}
channels:
  - conda-forge
dependencies:
  - python={{python_version}}
  - pip
  - pyflakes
  - numpy
  - scipy
  - matplotlib
  - ipython
  - pip:
    - snakemake
    - ipykernel
    - ipympl
    - numpy
    - pyfar
    - sofar
    - pyrato

