---
title: 'Setup and enable Zenodo integration'
---

Once Zenodo is enables, Zenodo will create a release for each Github release from GitHub.
The ``.zenodo.json`` will define all the metadata in the Zenodo publication.
Make sure to change the ``.zenodo.json`` according to your needs before setting up the integration on Zenodo.
The [Zenodo documentation](https://help.zenodo.org/docs/github/) will provide detailed information.
